
.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.profile-img {
  height: 120px;
  background: white;
}
.job {
  color: #666666;
  font-size: 17px;
}
.mail {
  font-size: 16px;
 }
 .business-card {
   border: 1px solid #cccccc;
   background: #f8f8f8;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 10px;
 }
 .profile-img {
   height: 120px;
   background: white;
 }
 .job {
   color: #666666;
   font-size: 17px;
 }
 .mail {
   font-size: 16px;
  }
